<head>
<title>About</title>
</head>
<body>
  <div class='container'>
    <h1>The about Page</h1>
    <div class='navbar navbar-inverse'>
      <div class='navbar-inner nav-collapse' style="height: auto;">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Donate</a></li>
        </ul>
      </div>
    </div>
    <div id='content' class='row-fluid'>
    <div class='span2 sidebar'>
        <h3>More</h3>
        <ul class="nav nav-tabs nav-stacked">
          <li><a href='#'>Our history</a></li>
          <li><a href='#'>Past Donations</a></li>
        </ul>
      </div>
      <div class='span8 main'>
        <h2>About Us</h2>
          <p>
               is a national level development organisation directly benefitting over 400,000 children and their families every year, through 158 welfare projects on education, healthcare, livelihood and women empowerment, in more than 700 remote villages and slums across 25 states of India.
               </br>
                their families and the community become the target group for Smile Foundation’s activities as child education cannot be done in isolation and nothing else but education for children can bring long lasting change in the society.
          </p>
            
            
        </div>
      </div>
  </div>
</body>