$navbar-default-bg:#006fb9	;

@import "bootstrap-sprockets";
@import "bootstrap";

html,body{
	height:100%;
	width:100%;
}

.container-fluid,.container{
	height:100%
}

#logo{
	color:#FFFFFF;
	font-size:1.7em;
	font-weight:bold;
}

#color-me{
	color:#FFFFFF;
}
	

.donate-bd{
	border: #d3ffce black solid;
	background-color: #ffffeb;
}


.donate-bg{
	background-color: #f2e5c6;	
}



